/**
 * Customize CSS
 *
 * @author We Both
 * @version 1.0
 *
 * "You can add your own style below this comment".
 */

h1.lead-main {
	font-family: Lota,sans-serif;
	font-weight: 600;
}
.navbar-brand span.beta {
	font-size: 16px;
	top: 18px;
	right: 23px;
	position: relative;
}

@media (min-width: 1024px) {
	.section-block-feature {
		padding-top: 5rem;
		padding-bottom: 2rem;
	}
}

.fact__number {
	margin-top: 2.125rem;
}